body {
    display: block;
    margin: 0px;
    width: 100%;
    background: lightgray;
}
.navbar {
    font-weight:bold;
    color: darkblue;
    display: inline-block;
    margin: 0px 36px;
    text-transform: uppercase;
}
.navbar a:visited {
    color: darkblue;
}
.navbar a:active {
    color: red;
}
.navbar a:hover {
    color: hotpink;
}
a:link {
    text-decoration: none;
}
.img {
    width: 100%;
    margin-bottom: 49px;
}
body {
    font-family: sans-serif;
    text-align: center;
    letter-spacing: 1px;
}
h2  {
    text-transform: uppercase;
    margin-bottom: 38px;

}
p {
    line-height: 26px;
    padding: 0px 68px;
}
.text-1 {
    margin: 0px 68px 28px;
}
.text-2 {
    margin: 0px 68px 66px;
}
button {
    padding: 18px 42px;
    border: 0;
    font-weight: bold;
    color: #373737;
    border-radius: 5px;
    background: lightpink;
    letter-spacing: 2px;
    text-transform: uppercase;

}
.text-bottom-small {
    color: #373737;
    letter-spacing: 2px;
    margin-left: 713px;
    margin-top: 82px;
    padding: 12px 0px;
}
main {
    color: #373737;
}
